#container{
    width: 1140px;
    /* padding: 5px; */
    /* background-color: beige; */
}

#blog-post-container{
    width: 75%;
    /* background-color: blueviolet; */
    float: left;
}

#others-post{
    position: fixed;
    top: 20px;
    right: 0;
    width: 25%;
    float: left;
    /* background-color: brown; */
}

.author-box{
    /* border: 1px solid red; */
    padding: 5px;
    /* background-color: aqua; */
    margin-top: 15px;
}
.author-jpg{
    width: 80px;
}

.blog-post{
    position: relative;
    right: 40px;
}

.date{
    position: absolute;
    right: 20px;
    top: 0;

}

.tags{
    margin: 0;
    padding: 0;
}

.tags li{
    list-style: none;
    display: inline;
    margin-right: 5px;
}

.tags li a{
    text-decoration: none;
}